.bullet__item,
.bullet__item--image {
  width: 80px;
}
.bullet__item--title {
  color: black;
  font-size: 12px;
  text-align: center;
}
.bullet__item {
  margin-right: 15px;
}
.bullet__item--link {
  text-decoration: none;
}
@media screen and (min-width: 760px){
  .bullet__item,
  .bullet__item--image{
    width: 80px;
  }
}
